.myName{
  color:rgb(255, 255, 255);
  font-size: 6rem;
  font-family: "Caviar Dreams", monospace;
  font-weight: bold;
  animation-duration: 1s;
  animation-name: fadein;
}
.nameContainer p{
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
#horgosText{
  margin-left: 4rem;
}
#n1,
#n2,
#n3{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.next{
  background-color: rgba(0, 0, 0, 0.647);
  padding: 1.2rem;
  border-radius: 50%;
  color: white;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.next:visited {
  color: rgb(255, 255, 255);
  
}
.myName:hover{
  transform: scale(1.005);
}

.nameContainer{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  
}


.profileImage{
  border-radius: 20%;
}
#header{
  width: 100%;
}

.headerContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items:  center;
  justify-content: space-between;
}

.subtitle{
  font-size: 22px;
  display: flex;
  justify-content: flex-end;
  animation-duration: 1s !important;
  animation-name: slidein;
}

.img-hover-zoom {
  width: 100%;
  height: 500px;
  /* [1.1] Set it as per your need */
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center ;
  
  /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom--quick-zoom img {
  transform-origin: 50% 50%;
  transition: transform 0.5s, visibility 0.5s ease-in-out;
}

/* The Transformation */
.img-hover-zoom--quick-zoom:hover img {
  transform: scale(1.02);
}

@keyframes fadein {
  0% {
      opacity: 0;
      transform: scale(0.95);
    }
  
    85% {
      opacity: 1;
      transform: scale(1.05);
    }
  
    100% {
      transform: scale(1);
    }
  }