
/* #n1,
#n2,
#n3{
   padding-top: 10rem;

} */

.personCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}




.top{
    z-index: 10;
    width: 100%;
    height: 4rem;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    top:0;

background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6895133053221288) 44%, rgba(0, 212, 255, 0) 100%);

}

.top-logo{
    margin-left: 1rem;

}


.carousel {
    width: 100%;
}



.carousel-container {
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* background-color: rgba(250, 235, 215, 0.467); */
    border-radius: 50px;
    padding: 0;
}

.carousel-container-big {
    background-image: url("../../assets/background-team.png");
        background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100vw;
    height: fit-content;
    min-height: 90vh;
    
}

.carousel-cell {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: .6s ease opacity, .6s ease transform;
    opacity: 1;
     
}

.opacity-trans{
    animation: opacity-animation 1s;
}

@keyframes opacity-animation{
    0%{
        opacity: 0.3;
        scale: 0.95;
    }

    100%{
        opacity: 1;
        scale: 1;
    }
}
.top {
    width: 100%;
    height: 4rem;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
}
.next{
    height: 80px;
    width: 80px;
    font-size: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.invisible{
    display:none;
    opacity: 0;
    transition: 2s;
}
@media screen and (max-width: 1500px) {

    .carousel-container{
        transform: scale(0.9);
        width: 100%;
        height: 100%;

    }
    .carousel-cell {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
                align-items: center;
            /* align-items: flex-start;
            justify-content: flex-start; */
    }
    .invisible {
            display: none;
        }
    
    .carousel-container-big{
        height: fit-content;
    }

}