.container{
    display: flex;
    flex-direction: column;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    overflow: hidden;
}

#n1,
#n2,
#n3{
   padding-top: 10rem;

}

.personCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.disable-scroll {
    overflow-y: hidden;
}

.link{
    margin-top: 0rem;
}